@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


$brand-color: rgb(226, 132, 19);
$accent-color: rgb(56, 102, 112);
$muted-color: rgb(166, 225, 250);
$text-color: rgb(23, 18, 25);
$background-color: rgb(255, 255, 255);

$brand-font: "Josefin Sans", sans-serif;
$heading-font: "Noto Sans", sans-serif;
$text-font: "Montserrat", sans-serif;
$code-font: "Source Code Pro", monospace;